@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <h1>Your Accommodation was not found</h1>
    <a asp-page="./List" class="btn btn-danger"> See All Accommodation</a>
</body>
</html>
